{#This version also works well#}
<nav>
    <div>
        <span><a href="{{ url_for('character.lists') }}">All Lists</a></span> ->
        {% for parent in parents %}
            <span><a href="{{ url_for('character.sublists', list_id=parent.id) }}">{{ parent.name }}</a></span> ->
        {% endfor %}
        <span>{{ list.name }}</span>
    </div>
</nav>


<h1>{{ list.name }}</h1>
{% if child_lists|length != 0 %}
    <h2>Sublists</h2>
    <ul>
        {% for child_list in child_lists %}
            <li><a href="{{ url_for('character.sublists', list_id=child_list.id) }}">{{ child_list.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% if characters|length != 0 %}
    <h2>Characters</h2>
    <a href="{{ url_for('character.reading_practice', list_id=list.id) }}">Reading Practice</a>
    <ul>
        {% for character in characters %}
            <li>{{ character.character }} - {{ character.pinyin }}</li>
        {% endfor %}
    </ul>
{% endif %}