{#This version also works well#}
<html lang="en-US">
<head>
    <title>List</title>
    <style>
         #strong span, #weak span, #never-sd span {
            background: blanchedalmond;
            padding: 5px;
            margin: 3px;
            border-radius: 5px;
            line-height: 35px;
             font-size: 1.3em;
        }
    </style>
</head>
<body>

<nav>
    <div>
        <span><a href="{{ url_for('character.lists') }}">All Lists</a></span> ->
        {% for parent in parents %}
            <span><a href="{{ url_for('character.sublists', list_id=parent.id) }}">{{ parent.name }}</a></span> ->
        {% endfor %}
        <span>{{ list.name }}</span>
    </div>
</nav>


<h1>{{ list.name }}</h1>
{% if child_lists|length != 0 %}
    <h2>Sublists</h2>
    <ul>
        {% for child_list in child_lists %}
            <li><a href="{{ url_for('character.sublists', list_id=child_list.id) }}">{{ child_list.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% if characters|length != 0 %}
    <h2>Strong Words ({{ strong_chars|length }})</h2>
    <a href="{{ url_for('character.reading_practice', list_id=list.id) }}">Reading Practice</a>
    <div id="strong">
        {% for character in strong_chars %}
            <span>{{ character.character }} - {{ character.pinyin }}</span>
        {% endfor %}
    </div>

    <h2>Weak Words ({{ weak_chars|length }})</h2>
    <a href="{{ url_for('character.reading_practice', list_id=list.id) }}">Reading Practice</a>
    <div id="weak">
        {% for character in weak_chars %}
            <span>{{ character.character }} - {{ character.pinyin }}</span>
        {% endfor %}
    </div>

    <h2>Never Studied ({{ never_learned_chars|length }})</h2>
    <a href="{{ url_for('character.reading_practice', list_id=list.id) }}">Reading Practice</a>
    <div id="never-sd">
        {% for character in never_learned_chars %}
            <span>{{ character.character }}</span>
        {% endfor %}
    </div>
{% endif %}
</body>
</html>