<!-- main.html -->
{#{% include 'modals/modal.html' %}#}


{% for char_list in lists %}
    <div class="list-card">
        <a href="{{ url_for('character.sublists', list_id=char_list.id) }}">{{ char_list.name }}</a>
        {% if not char_list.is_admin_created and characters | length == 0 %}
            <div class="action-buttons">
                <button @click="()=>showEditModal('{{ char_list.name }}', '{{ char_list.id }}')">&#128393</button>
                <button @click="()=> showDeleteModal('{{ char_list.name }}', '{{ char_list.id }}')">&#10008</button>
            </div>
        {% endif %}
    </div>
{% endfor %}